<?xml version="1.0" encoding="utf-8" ?>
<web-app
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<display-name>Ineram</display-name>

	<listener>
		<listener-class>com.genexus.webpanels.ServletEventListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.genexus.webpanels.SessionEventListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>JerseyListener</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.GXApplication</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
			<param-value>com.sun.jersey.api.container.filter.GZIPContentEncodingFilter</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
			<param-value>com.sun.jersey.api.container.filter.GZIPContentEncodingFilter</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>com.wwpbaseobjects.masterpageframe</servlet-name>
		<servlet-class>com.wwpbaseobjects.masterpageframe</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.wwpbaseobjects.workwithplusmasterpage</servlet-name>
		<servlet-class>com.wwpbaseobjects.workwithplusmasterpage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.wwpbaseobjects.editbookmark</servlet-name>
		<servlet-class>com.wwpbaseobjects.editbookmark</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.wwpbaseobjects.wwp_masterpagetopactionswc</servlet-name>
		<servlet-class>com.wwpbaseobjects.wwp_masterpagetopactionswc</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.wwpbaseobjects.wwp_searchwc</servlet-name>
		<servlet-class>com.wwpbaseobjects.wwp_searchwc</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.contenidosww</servlet-name>
		<servlet-class>com.contenidosww</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.enfermedadesww</servlet-name>
		<servlet-class>com.enfermedadesww</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.home</servlet-name>
		<servlet-class>com.home</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.wwpbaseobjects.managefilters</servlet-name>
		<servlet-class>com.wwpbaseobjects.managefilters</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.wwpbaseobjects.menuitemappmenuww</servlet-name>
		<servlet-class>com.wwpbaseobjects.menuitemappmenuww</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.wwpbaseobjects.menuitemww</servlet-name>
		<servlet-class>com.wwpbaseobjects.menuitemww</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.protocoloconsultar</servlet-name>
		<servlet-class>com.protocoloconsultar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.protocolow2</servlet-name>
		<servlet-class>com.protocolow2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.protocolow3</servlet-name>
		<servlet-class>com.protocolow3</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.protocoloww</servlet-name>
		<servlet-class>com.protocoloww</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.wwpbaseobjects.savefilteras</servlet-name>
		<servlet-class>com.wwpbaseobjects.savefilteras</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.workwithplus.wwp_parameterww</servlet-name>
		<servlet-class>com.workwithplus.wwp_parameterww</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.wwpbaseobjects.wwp_search</servlet-name>
		<servlet-class>com.wwpbaseobjects.wwp_search</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.contenidos</servlet-name>
		<servlet-class>com.contenidos</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.enfermedades</servlet-name>
		<servlet-class>com.enfermedades</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.wwpbaseobjects.menuitem</servlet-name>
		<servlet-class>com.wwpbaseobjects.menuitem</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.protocolo</servlet-name>
		<servlet-class>com.protocolo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.protocolowc</servlet-name>
		<servlet-class>com.protocolowc</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.workwithplus.wwp_parameter</servlet-name>
		<servlet-class>com.workwithplus.wwp_parameter</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>JerseyListener</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.wwpbaseobjects.masterpageframe</servlet-name>
		<url-pattern>/servlet/com.wwpbaseobjects.masterpageframe</url-pattern>
		<url-pattern>/com.wwpbaseobjects.masterpageframe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.wwpbaseobjects.workwithplusmasterpage</servlet-name>
		<url-pattern>/servlet/com.wwpbaseobjects.workwithplusmasterpage</url-pattern>
		<url-pattern>/com.wwpbaseobjects.workwithplusmasterpage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.wwpbaseobjects.editbookmark</servlet-name>
		<url-pattern>/servlet/com.wwpbaseobjects.editbookmark</url-pattern>
		<url-pattern>/com.wwpbaseobjects.editbookmark</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.wwpbaseobjects.wwp_masterpagetopactionswc</servlet-name>
		<url-pattern>/servlet/com.wwpbaseobjects.wwp_masterpagetopactionswc</url-pattern>
		<url-pattern>/com.wwpbaseobjects.wwp_masterpagetopactionswc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.wwpbaseobjects.wwp_searchwc</servlet-name>
		<url-pattern>/servlet/com.wwpbaseobjects.wwp_searchwc</url-pattern>
		<url-pattern>/com.wwpbaseobjects.wwp_searchwc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.contenidosww</servlet-name>
		<url-pattern>/servlet/com.contenidosww</url-pattern>
		<url-pattern>/com.contenidosww</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.enfermedadesww</servlet-name>
		<url-pattern>/servlet/com.enfermedadesww</url-pattern>
		<url-pattern>/com.enfermedadesww</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.home</servlet-name>
		<url-pattern>/servlet/com.home</url-pattern>
		<url-pattern>/com.home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.wwpbaseobjects.managefilters</servlet-name>
		<url-pattern>/servlet/com.wwpbaseobjects.managefilters</url-pattern>
		<url-pattern>/com.wwpbaseobjects.managefilters</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.wwpbaseobjects.menuitemappmenuww</servlet-name>
		<url-pattern>/servlet/com.wwpbaseobjects.menuitemappmenuww</url-pattern>
		<url-pattern>/com.wwpbaseobjects.menuitemappmenuww</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.wwpbaseobjects.menuitemww</servlet-name>
		<url-pattern>/servlet/com.wwpbaseobjects.menuitemww</url-pattern>
		<url-pattern>/com.wwpbaseobjects.menuitemww</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.protocoloconsultar</servlet-name>
		<url-pattern>/servlet/com.protocoloconsultar</url-pattern>
		<url-pattern>/com.protocoloconsultar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.protocolow2</servlet-name>
		<url-pattern>/servlet/com.protocolow2</url-pattern>
		<url-pattern>/com.protocolow2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.protocolow3</servlet-name>
		<url-pattern>/servlet/com.protocolow3</url-pattern>
		<url-pattern>/com.protocolow3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.protocoloww</servlet-name>
		<url-pattern>/servlet/com.protocoloww</url-pattern>
		<url-pattern>/com.protocoloww</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.wwpbaseobjects.savefilteras</servlet-name>
		<url-pattern>/servlet/com.wwpbaseobjects.savefilteras</url-pattern>
		<url-pattern>/com.wwpbaseobjects.savefilteras</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.workwithplus.wwp_parameterww</servlet-name>
		<url-pattern>/servlet/com.workwithplus.wwp_parameterww</url-pattern>
		<url-pattern>/com.workwithplus.wwp_parameterww</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.wwpbaseobjects.wwp_search</servlet-name>
		<url-pattern>/servlet/com.wwpbaseobjects.wwp_search</url-pattern>
		<url-pattern>/com.wwpbaseobjects.wwp_search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.contenidos</servlet-name>
		<url-pattern>/servlet/com.contenidos</url-pattern>
		<url-pattern>/com.contenidos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.enfermedades</servlet-name>
		<url-pattern>/servlet/com.enfermedades</url-pattern>
		<url-pattern>/com.enfermedades</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.wwpbaseobjects.menuitem</servlet-name>
		<url-pattern>/servlet/com.wwpbaseobjects.menuitem</url-pattern>
		<url-pattern>/com.wwpbaseobjects.menuitem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.protocolo</servlet-name>
		<url-pattern>/servlet/com.protocolo</url-pattern>
		<url-pattern>/com.protocolo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.protocolowc</servlet-name>
		<url-pattern>/servlet/com.protocolowc</url-pattern>
		<url-pattern>/com.protocolowc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.workwithplus.wwp_parameter</servlet-name>
		<url-pattern>/servlet/com.workwithplus.wwp_parameter</url-pattern>
		<url-pattern>/com.workwithplus.wwp_parameter</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>gxcfg</param-name>
		<param-value>com.GXcfg</param-value>
	</context-param>
	<filter>
		<filter-name>ExpiresFilter</filter-name>
		<filter-class>com.genexus.filters.ExpiresFilter</filter-class>
		<init-param>
			<param-name>ExpiresByType image</param-name>
			<param-value>access plus 36 hours</param-value>
		</init-param>
		<init-param>
			<param-name>ExpiresByType text/css</param-name>
			<param-value>access plus 36 hours</param-value>
		</init-param>
		<init-param>
			<param-name>ExpiresByType application/javascript</param-name>
			<param-value>access plus 36 hours</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>ExpiresFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>InternalRestServicesFilter</filter-name>
		<filter-class>com.genexus.filters.InternalRestServicesFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>InternalRestServicesFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>	


</web-app> 